<div class="formAddCustomer" ng-show="showForm" ng-hide="!showForm">
    <h2>Customers</h2>
    <form enctype="multipart/form-data" class="form_add_customer" method="post">
        <input type="text" name="id_customer" ng-model="customer.id" value="" /><label>ID</label>
        </br></br>
        <input type="text" name="name_customer" ng-model="customer.name_customer" value=""/><label>Name</label>
        </br></br>
        <input type="text" name="phone" ng-model="customer.phone" value=""/><label>Phone</label>
        </br></br>
        <input type="text" name="address" ng-model="customer.address" value=""/><label>Address</label>
        </br></br>
        <input type="submit" value="Submit" ng-click="addCustomerAction()" />
    </form>
</div>