<ul class="ul_list">
    <li ng-repeat="customer in list_customers">
        <a href="#" ng-click="showEditCustomer(customer.customer_id)">{{ customer.customer_id }} {{customer.name }}</a>
    </li>
</ul>